TU_TOKEN = yourtoken

DB_HOST = 127.0.0.1
DB_PORT = 8080
DB_USER = YOUR_USERNAME
DB_PASSWORD = YOUR_PASSWORD
DB_NAME = YOUR_DATABASE_NAME

# Qlib
# QLIB_PROVIDER_URI = /path/to/.data/qlib_data
# QLIB_MLRUNS_URI = file:///path/to/mlruns
# QLIB_EXPERIMENT_NAME = transformer_alpha158
# QLIB_RECORDER_ID = your_recorder_id
# QLIB_EXPERIMENT_ID = your_experiment_id
