# ==========================================
# My Quant Framework - Core Requirements
# ==========================================

pyqlib==0.9.7
akshare==1.18.24
tushare==1.4.24
TA-Lib==0.6.8

gymnasium==1.2.3
stable-baselines3==2.7.1

schedule==1.2.2
PyYAML==6.0.3
seaborn==0.13.2

plotly==6.5.2
statsmodels==0.14.6